<!DOCTYPE html>
<html lang="en">

<%- include ('../partials/head') %>
<script src="/js/validacionLogin.js"></script>
<body>
    <div id="wrapper">
        <div class="headero">
            <%- include ('../partials/header') %>
        </div>
        <div class="main-content">
            <main>
                <div id='container'>
                    <div class="titular">
                        <h2 class="titulo">Ingresar</h2>
                    </div>
                    <div class='login'>
                        <% if (locals.errors){ %>
                            <div class="text-danger">
                                <%= errors.msg %>
                            </div>
                            <% } %>
                        <form action="/user/loguear" method="POST" class="form-login" id="form-login">
                            <div class="r-name">
                                <input type='email' name='email' id="login-email" laceholder='example@gmail.com:' value="admin@gmail.com"/>
                                <% if (locals.errors && errors.email) { %>
                                    <p class="inputError">
                                        <%= errors.email.msg %>
                                    </p>
                                    <% } %>
                                    <p></p>
                              </div>
                            <div class="r-password">
                                <input type='password' name='password' id="login-password" placeholder='admin123:'/>
                            </div>
                            <div class="r-checkbox">
                                <label class="check"><input type="checkbox" name="remember" value="guardar">Recordar
                                    cuenta</label>
                                    <a href='/user/PasswordReset'>recuperar contrasenia!</a>
                            </div>
                            <button type='submit' class="btn-login">Login</button>
                            <br><br>
                            <div class="r-registrar">No estas registrado? <a href='/user/register'>Registrarme</a></div>
                            <div class="errores">
                                <ul></ul>
                            </div>
                        </form>
                    </div>

                </div>
           </main>
        </div>
        <div class="footero">
            <%- include('../partials/footer')%>
        </div>
    </div>
</body>

</html>