<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head')%>
<script  src="\js\validations\validations-register.js"></script>
<body>

    
    <div id="wrapper">
        <div class="headero">
            <%- include('../partials/header')%>
        </div>
        <div class="main-content">
            <main>

                <div id='container'>
                    <div class="titular">
                        <h2 class="titulo">.Registrate</h2>
                    </div>
                    <div class='register'>
                        
                        <form action="/user/register" id="formregistro" method="POST"
                            enctype="multipart/form-data">
                            <div class="r-name">
                                <input type='text' name='name' placeholder='nombre:'
                                value="<%= locals.old && old.name ? old.name : '' %>">
                            <% if (locals.errors && errors.name){ %>
                                <div class="text-danger">
                                    <%= errors.name.msg %>
                                </div>
                                <% } %>
                            </div>
                            <div class="r-lasName">
                                <input type='text' name='lastName' placeholder='apellido:'
                                value="<%= locals.old && old.lastName ? old.lastName : '' %>">
                           <% if (locals.errors && errors.lastName){ %>
                               <div class="text-danger">
                                   <%= errors.lastName.msg %>
                               </div>
                               <% } %>
                            </div>
                            <div class="r-date">
                                <input type='date' name='date' placeholder='Fecha Nac:' value="<%= locals.old && old.date ? old.date : '' %>" class="control">
                                <% if (locals.errors && errors.date){ %>
                                    <div class="text-danger">
                                        <%= errors.date.msg %>
                                    </div>
                                    <% } %>
                            </div>
                            <div class="r-email">
                                <input type='text' name='email' placeholder='Email:' 
                                value="<%= locals.old && old.email ? old.email : '' %>">
                            <% if (locals.errors && errors.email){ %>
                                <div class="text-danger">
                                    <%= errors.email.msg %>
                                </div>
                                <% } %>
                            </div>
                            <div class="image-perfil">
                                <label for="" class="titulo">Foto de Perfil</label>
                                <input type="file" name="file">
                               
                            </div>
                            <div class="r-password">
                                <input type='password' name='password'
                                    placeholder='password:'  />
                                    <% if (locals.errors && errors.password){ %>
                                        <div class="text-danger">
                                            <%= errors.password.msg %>
                                        </div>
                                        <% } %>
                            </div>
                            <div class="r-passwordRepeat">
                                <input type='password' name='passwordRepeat'
                                    placeholder='Repita el password:'  />
                                    <% if (locals.errors && errors.passwordRepeat){ %>
                                        <div class="text-danger">
                                            <%= errors.passwordRepeat.msg %>
                                        </div>
                                        <% } %>
                            </div>
                            <div class="r-checkbox">
                                <label class="check"><input type='checkbox' name='terminos' required value="terminos" <%=locals.old && old.terminos == "terminos"? 'checked' : '' %>>HE LEIDO Y ACEPTO
                                    LOS</label><a href='https://www.mercadolibre.com.co/ayuda/terminos-condiciones-de-uso_1841'>TERMINOS Y CONDICIONES</a>
                            </div>
                            <div class="r-checkbox">
                                <label class="check"><input type='checkbox' name='news' value="news" <%=locals.old && old.news == "news"? 'checked' : '' %>>QUIERO RECIBIR OFERTAS
                                    Y
                                    OTRAS
                                    NOTIFICACIONES</label>
                            </div>
                            <button type='submit' class="btn-registrar">Registrar</button>
                            <br><br>
                            <div class="r-registrado">Ya estas registrado? <a href='/user/login'>Inicia Secion</a></div>
                            <div class= "errores"> <ul></ul> </div>
                        </form>
                    </div>

                </div>
            </main>
        </div>
        <div class="footero">
            <%- include('../partials/footer')%>
           
    </div>

    
        </div>
</body>



</html>