<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head')%>
    <link rel="stylesheet" href="/css/productCreate.css" />
    <script src="/js/editProdValidator.js"></script>
    <body>
        <%- include('../partials/header')%>
            <main>

                <div class="container">
                    <section>
                        <div class="columns is-centered">
                            <div class="column is-6">
                                <div class="titular">
                                    <h2 class="titulo">Editar Producto</h2>
                                </div>
                                <form action="/products/<%=product.id %>?_method=PUT" method="POST"
                                    enctype="multipart/form-data" id="form-edit">
                                    <article class="product-create-article">
                                        <div class="icoExit">
                                            <a href="/products">
                                                <i class="fas fa-times-circle"></i>
                                            </a>
                                        </div>
                                        <div class="product-create-file">
                                            <h2>Imagen</h2>
                                            <img src="/Img/product/<%= product.image[0].name %>" alt="<%=product.name %>"
                                                class="detail-product_img">
                                            <input type="file" name="file" id="file" value="<%=product.file %>">
                                            <% if (locals.errors && errors.img) { %>
                                                <p class="inputError">
                                                    <%= errors.img.msg %>
                                                </p>
                                                <% } %>
                                                <p></p>
                                            <input type="hidden" name="oldImage" value="<%= product.image[0] %>">
                                        </div>
                                        <div class="setction">
                                            <div class="product-create-category">
                                                <select name="category_id">
                                                    <% categories.forEach(oneCategory => { %>
                                                    <option 
                                                        value="<%= oneCategory.id %>"
                                                        <%= oneCategory.id === product.category_id ? 'selected' : null %> 
                                                    >
                                                        <%= oneCategory.name %> 
                                                    </option>
                                                    <% }) %>
                                                </select>
                                            </div>
                                            <div class="product-create-category">
                                                <select name="brand_id">
                                                    <% brands.forEach(oneBrand => { %>
                                                    <option 
                                                        value="<%= oneBrand.id %>"
                                                        <%= oneBrand.id === product.brand_id ? 'selected' : null %> 
                                                    >
                                                        <%= oneBrand.name %> 
                                                    </option>
                                                    <% }) %>
                                                </select>
                                            </div>
                                            <div class="product-create-name">
                                                <h2>Nombre</h2>
                                                <input type="text" name="name" placeholder="Nombre" 
                                                    maxlength="30" id="edit-name" value="<%=product.name %>">
                                                    <% if (locals.errors && errors.productName) { %>
                                                        <p class="inputError">
                                                            <%= errors.productName.msg %>
                                                        </p>
                                                        <% } %>
                                                        <p></p>
                                            </div>
                                            <div class="product-create-descripcion">
                                                <h2>Descripcion</h2>
                                                <textarea name="description" id="descripction" cols="30"
                                                    rows="10"><%=product.description %></textarea>
                                                    <% if (locals.errors && errors.productDescription) { %>
                                                        <p class="inputError">
                                                            <%= errors.productDescription.msg %>
                                                        </p>
                                                        <% } %>
                                                        <p></p>
                                            </div>
                                            <div class="product-create-row">
                                                <div class="product-create-stock">
                                                    <h2>Stock:</h2>
                                                    <input type="number" name="stock" class="edit-stock" 
                                                        maxlength="6" value="<%=product.stock %>">
                                                </div>
                                                <div class="product-create-price">
                                                    <h2>Precio:</h2>
                                                    <input type='text' name="price" id="edit-price"  placeholder="$"
                                                        maxlength="6" value="<%=product.price %>">
                                                        <% if (locals.errors && errors.productPrice) { %>
                                                            <p class="inputError">
                                                                <%= errors.productPrice.msg %>
                                                            </p>
                                                            <% } %>
                                                            <p></p>
                                                </div>
                                            </div>
                                            <div class="btns">
                                                <div class="control">
                                                    <button class="btn-edit" type="submit">Actualizar producto</button>
                                                </div>                                 
                                   </form>
                                <form class="form is-inline" action="/products/<%= product.id %>?_method=DELETE"
                                    method="POST">
                                    <button type="submit" class="btn-delete">Borrar</button>
                                </form>
                            </div>  
                            <div class="errores">
                                <ul></ul>
                            </div> 
                            </article>
                            </div>
                        </div>

                    </section>
                </div>
            </main>

            <%- include('../partials/footer')%>

    </body>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#category > option[value="<%=product.category.id %>"]').attr('selected', 'selected');
            $('#brand > option[value="<%=product.brand.id %>"]').attr('selected', 'selected');
        });
    </script>

</html>