<article class="article">
   <!-- <div class="iconoBorrar"><a href="/products/<%=product.id %>/edit"><i class="fas fa-trash-alt"></i></a></div>-->
    <div class="producto">
        <h3><%= product.name %></h3>
        <img src="/Img/<%= product.file %>" alt="vino" class="product_img">
    </div>
    <div class="descripcion">
        <h3>Descripcion</h3>
        <p><%= product.description %></p>
    </div>
    <div class="row">
        <div class="cantidad">
            <h3>Cantidad</h3>
            <div class="btns">
                <h3><%=product.stock %></h3>
            </div>        
        </div>
        <div class="precio">
            <h3>Total</h3>
            <h3><%= product.price %></h3>
        </div>
        <div class="btns">
              <a href="/products/<%=product.id %>/edit"><button class="btn-edit">Editar</button></a>
        </div>

    </div>
</article>